@charset "utf-8";

/* ---------- 全体 ---------- */
body {
  color: #333;
  font-family: "Lato";
}

a {
  text-decoration: none;
}

/* ---------- 共通 ---------- */
.inner {
  width: 1100px;
  margin: 0 auto;
}

.title-font {
  font-family: "Raleway";
}

.index-text {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.description {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-weight: lighter;
}

.content-button {
  font-size: 12px;
  color: #fff;
  background-color: #74cfae;
  transition: .3s;
  text-decoration: none;
}

.content-button:hover {
  color: #333;
}

/* -------------------- 基本レイアウト -------------------- */

/* ---------- ヘッダー ---------- */
.header {
  background-color: #fff;
  /* position: fixed を使うとBlock要素が失われるため幅指定 */
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.header-icon i {
  font-size: 40px;
  color: #333;
}

.header-button {
  padding: 14px 12px;
}

.hb-menu {
  /* display: inline-block; */
  display: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.hb-menu span {
  display: block;
  width: 22px;
  border: 1px solid #ddd;
}

.hb-menu span:nth-child(2) {
  margin: 5px 0;
}

/* margin-topで統一 */

/* ---------- main ---------- */
.main {
  padding-top: 70px;
}

/* ---------- theme ---------- */
.theme {
  background-color: #f2f2f2;
}

.theme-inner {
  text-align: center;
  padding: 250px 0;
}

.theme-title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme-flavor {
  margin-top: 25px;
  font-size: 30px;
  color: #c0c0c0;
}

/* ---------- What we can do ---------- */
.what_we_can_do {
  background-color: #74cfae;
}

.wwcd-inner {
  padding-top: 50px;
  color: #fff;
  display: flex;
}

.wwcd-image {
  margin: 0 100px;
}

.wwcd-textcontent {
  text-align: center;
}

.wwcd-text {
  margin-top: 35px;
}

/* ---------- Our latest work ---------- */
.our_latest_work {
  background-color: #f2f2f2;
}

.olw-inner {
  padding: 60px 0 70px 0;
}

.images-container {
  margin-top: 40px;
  font-size: 0;
}

.content-image {
  display: inline-block;
  margin-left: 100px;
}

.content-image a {
  display: inline-block;
  opacity: .7;
  transition: .3s;
}

.content-image a:hover {
  opacity: 1;
}

.content-image:nth-child(3n+1) {
  /* nは０から始まる */
  margin-left: 0;
}
/* 3つ目までの時は :nth-child(-n+3) */
.content-image:nth-child(n+4) {
  /* n+4 : 4つ目以降 */
  margin-top: 80px;
}

.olw-contents {
  margin-top: 90px;
  font-size: 0;
  display: block;
  text-align: center;
}

.olw-text {
  display: inline-block;
  width: 600px;
}

.olw-button {
  display: inline-block;
  margin-left: 90px;
  vertical-align: top;
}

.olw-button-email {
  box-sizing: border-box;
  display: block;
  padding: 14px 20px;
}

/* ---------- Our skills ---------- */
.our_skills {
  background-color: #4e4e4e;
}

.os-inner {
  padding: 70px 0 100px 0;
  color: #fff;
}

.os-contents {
  text-align: center;
  margin-top: 70px;
}

.menu-content {
  display: inline-block;
  margin-left: 180px;
}

.menu-content:first-child {
  margin-left: 0;
}

.menu-content figcaption {
  margin-top: 16px;
  font-size: 16px;
}

/* ---------- SNS ---------- */
.sns {
  background-color: #f2f2f2;
}

.sns-inner {
  text-align: center;
  padding: 200px 0;
  font-size: 0;
}

.sns-content {
  display: inline-block;
}

.sns-icon {
  display: inline-block;
  padding: 30px 0;
  width: 185px;
  font-size: 40px;
  color: #74cfae;
  transition: .3s;
}

.sns-icon:hover {
  background-color: #fff;
}

/* ---------- footer ---------- */
.footer {
  background: #74cfae;
}

.footer-inner {
  padding: 20px 0 25px 0;
  text-align: right;
  color: #fff;
}

/* --------------- 基本レイアウトここまで -------------------- */


/* --------------- 以下レスポンシブ -------------------- */
/* ---------- PC・タブレット共用 ---------- */
/* @media screen and (min-width: 768px) {
  .hb-menu {
    ハンバーガーを隠す
    display: none;
  }
} */

/* ---------- スマホ・タブレット共用 ---------- */
@media screen and (max-width: 1199px) {
  /* 共通 */
  .inner {
    width: 97%;
  }

  /* what we can do */
  .wwcd-inner {
    /* flexを解除して中央寄せ */
    padding-bottom: 25px;
    display: block;
    text-align: center;
  }

  .wwcd-image {
    margin: 0 auto;
  }

  .wwcd-textcontent {
    margin-top: 20px;
  }

  /* Our latest work */
  .content-image {
    /* margin-leftの解除 */
    margin: 0;
    /* inline-boxの解除と中央寄せ */
    display: block;
    text-align: center;
  }

  .content-image:nth-child(n+4) {
    margin: 0;
  }

  .content-image:nth-child(3n+1) {
    margin-top: 80px;
  }

  .content-image:first-child {
    margin-top: 0;
  }

  /* our latest work */

  .olw-contents {
    margin-top: 80px;
  }

  .olw-text, .olw-button {
    margin: 0 auto;
  }

  .olw-text {
    width: 100%;
  }

  .olw-button {
    margin-top: 40px;
  }

  /* Our Skills */
  .menu-content {
    display: block;
    margin: 88px 0 0 0;
  }

  .menu-content:first-child {
    margin-top: 0;
  }
}

/* ---------- スマホ用 ---------- */
@media screen and (max-width: 767px) {
  /* header */
  .header-button {
    display: none;
  }

  .hb-menu {
    display: inline-block;
  }

  /* theme */
  .theme-inner {
    padding: 160px 0 130px 0;
  }
  
  .theme-title {
    font-size: 80px;
  }

  /* SNS */
  .sns .inner {
    width: 100%;
  }

  .sns-inner {
    padding: 50px 0;
  }

  .sns-content {
    display: block;
  }

  .sns-icon {
    width: 100%;
  }
}

/* ---------- 終わり ---------- */

/* 独自のカスタムプロパティはかえってわかりづらくなる。 */
/* marginは上と左で統一する */
/* marginやpaddingは1行にまとめる */
/* mediaクエリの順番 */
/* hrefは=""までかく */
/* 
  t-**やd-**というプロパティ系のクラスを使うかどうかは分かれるところ。
  重複しやすいため統一しないとわかりづらい。
*/
/* オブジェクト指向的な書き方にしてみる。
"オブジェクト指向"はGizTechを参照 */