@charset "utf-8";

/* ----------  テスト用 ----------  */
/* .cb{
  border: solid 1px red;
} */

/* .cb-b {
  border: solid 1px blue;
} */
/* ----------  テストここまで ----------  */

/* ---------- カスタムプロパティ ---------- */

/* IE対応用 head scriptタグ参照 */
:root {
  --default-color: #333;
  --theme-color: #74cfae;
  --bg-gray: 	#f2f2f2;
  --bg-darkgray: #4e4e4e;
/* 呼び出し方] */
/* background-color: var(--theme-color); */
}

/* ---------- 全体 ---------- */
body {
  color: var(--default-color);
  font-family: "Lato";
}

a {
  text-decoration: none;
}

/* ---------- プロパティ系 ---------- */
.t-center {
  text-align: center;
}

.m-center {
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inlineblock {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

/* ---------- 共通 ---------- */
.inner {
  width: 1100px;
  margin: 0 auto;
}

.title-font {
  font-family: "Raleway";
}

.t-color-w {
  color: #fff;
} 

.index-text {
  font-size: 24px;
  line-height: 24px;
  font-family: Raleway;
  text-align: center;
}

.description {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-weight: lighter;
}

.content-button {
  font-size: 12px;
  color: white;
  background-color: var(--theme-color);
  transition: .3s;
  text-decoration: none;
}

.content-button:hover {
  color: var(--default-color);
}

/* -------------------- 基本レイアウト -------------------- */

/* ---------- ヘッダー ---------- */
.header {
  background-color: #fff;
  /* position: fixed を使うとBlock要素が失われるため幅指定 */
  width: 100%; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.header-icon i {
  font-size: 40px;
  color: gray;
}

.header-button {
  padding: 14px 12px;
}

.hb-menu {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.hb-menu span {
  display: block;
  width: 22px;
  border: 1px solid #ddd;
}

.hb-menu span:nth-child(2) {
  margin: 5px 0;
}

/* ---------- main ---------- */
.main {
  padding-top: 70px;
}

/* ---------- theme ---------- */
.theme {
  background-color: var(--bg-gray);
}

.theme-inner {
  padding: 250px 0;
}

.theme-title {
  font-size: 90px;
  font-weight: 700;
  color: var(--theme-color);
}

.theme-flavor {
  margin-top: 25px;
  font-size: 30px;
  color: #c0c0c0;
}

/* ---------- What we can do ---------- */
.what_we_can_do {
  background-color: var(--theme-color);
}

.wwcd-inner {
  padding: 50px 0 25px 0;
  display: flex;
}

.wwcd-image {
  margin: 0 100px;
}

.wwcd-text {
  margin-top: 35px;
}

/* ---------- Our latest work ---------- */
.our_latest_work {
  background-color: var(--bg-gray);
}

.olw-inner {
  padding: 60px 0 70px 0;
}

.images-container {
  margin: 40px 0 90px 0;
  font-size: 0;
}

.content-image {
  display: inline-block;
  margin-left: 100px;
}

.content-image a {
  opacity: .7;
  transition: .3s;
}

.content-image a:hover {
  opacity: 1;
}

.content-image:nth-child(3n+1) {
  /* nは０から始まる */
  margin-left: 0;
}
/* 3つ目までの時は :nth-child(-n+3) */
.content-image:nth-child(n+4) {
  /* n+4 : 4つ目以降 */
  margin-top: 80px;
}

.olw-contents {
  font-size: 0;
  display: block;
}

.olw-text {
  width: 600px;
}

.olw-button {
  margin-left: 90px;
  vertical-align: top;
}

.olw-button-email {
  box-sizing: border-box;
  display: block;
  padding: 14px 20px;
}

/* ---------- Our skills ---------- */
.our_skills {
  background-color: var(--bg-darkgray);
}

.os-inner {
  padding: 70px 0 100px 0;
}

.os-contents {
  margin-top: 70px;
}

.menu-content {
  margin-left: 180px;
}

.menu-content:first-child {
  margin-left: 0;
}

.menu-content figcaption {
  margin-top: 16px;
  font-size: 16px;
}

/* ---------- SNS ---------- */
.sns {
  background-color: var(--bg-gray);
}

.sns-inner {
  margin: 0 auto;
  padding: 200px 0;
  font-size: 0;
}

.sns-content {
  display: inline-block;
}

.sns-icon {
  padding: 30px 0;
  width: 185px;
  font-size: 40px;
  color: var(--theme-color);
  transition: .3s;
}

.sns-icon:hover {
  background-color: #fff;
}

/* ---------- footer ---------- */
.footer {
  background: var(--theme-color);
}

.footer-inner {
  padding: 20px 0 25px 0;
  text-align: right;
}

/* --------------- 基本レイアウトここまで -------------------- */


/* --------------- 以下レスポンシブ -------------------- */
/* ---------- PC・タブレット共用 ---------- */
@media screen and (min-width: 768px) {
  .hb-menu {
    /* ハンバーガーを隠す */
    display: none;
  }
}

/* ---------- スマホ用 ---------- */
@media screen and (max-width: 767px) {
  /* header */
  .header-button {
    /* ハンバーガーに切り替える */
    display: none;
  }

  /* theme */
  .theme-inner {
    padding: 160px 0 130px 0;
  }
  
  .theme-title {
    font-size: 80px;
  }

  /* Our skills */
  .menu-content {
    margin: 0 auto;
    margin-top: 88px;
  }

  /* SNS */
  .sns .inner {
    width: 100%;
  }

  .sns-inner {
    padding: 50px 0;
  }

  .sns-content {
    display: block;
  }

  .sns-icon {
    width: 100%;
  }
}

/* ---------- タブレット用 ---------- */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* Our latest work */
  .olw-text {
    display: block;
  }

  /* Our skills */
  .menu-content {
    display: block;
    margin:88px 0 0 0;
  }
}

/* ---------- スマホ・タブレット共用 ---------- */
@media screen and (max-width: 1199px) {
  /* 共通 */
  .inner {
    width: 97%;
  }

  /* what we can do */
  .wwcd-inner {
    /* flexを解除して中央寄せ */
    display: block;
    text-align: center;
  }

  .wwcd-image {
    margin: 0 auto;
  }

  .wwcd-textcontent {
    margin-top: 20px;
  }

  /* Our latest work */
  .content-image {
    /* margin-leftの解除 */
    margin: 0;
    /* inline-boxの解除と中央寄せ */
    display: block;
    text-align: center;
  }

  .content-image:nth-child(n+4) {
    margin: 0;
  }

  .content-image:nth-child(3n+1) {
    margin-top: 80px;
  }

  .content-image:first-child {
    margin-top: 0;
  }

  /* our latest work */
  .images-container {
    margin-bottom: 80px;
  }

  .olw-text, .olw-button {
    margin: 0 auto;
  }

  .olw-text {
    width: 100%;
    margin-bottom: 40px;
  }

  /* Our Skills */
  .menu-content {
    display: block;
  }

  .menu-content:first-child {
    margin-top: 0;
  }
}

/* ---------- PC用 ---------- */
@media screen and (min-width: 1200px) {
  .wwcd-inner {
    padding-bottom: 0;
  }
}

/* ---------- 終わり ---------- */