@charset "utf-8";

/* ----------  テスト用 ----------  */
.cb{
  border: solid 1px red;
}

/* .cb-b {
  border: solid 1px blue;
} */

/* ---------- カスタムプロパティ ---------- */
:root {
  --default-color: #333;
  --theme-color: #74cfae;
  --bg-gray: 	#f2f2f2;
  --bg-darkgray: #4e4e4e;
/* 呼び出し方] */
/* background-color: var(--theme-color); */
}

/* ---------- 全体 ---------- */
body {
  color: var(--default-color);
  font-family: "Lato";
}

a {
  text-decoration: none;
}

.title-font {
  font-family: "Raleway";
}

/* ---------- レイアウト系 ---------- */
.t-center {
  text-align: center;
}

.m-center {
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inlineblock {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

/* ---------- 共通 ---------- */
.inner {
  width: 1100px;
  margin: 0 auto;
}

.content-button {
  font-size: 12px;
  color: white;
  background-color: var(--theme-color);
  transition: .3s;
  text-decoration: none;
}

.content-button:hover {
  color: var(--default-color);
}

.index-text {
  font-size: 24px;
  line-height: 24px;
  font-family: Raleway;
  text-align: center;
}

.description {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-weight: lighter;
}

/* ---------- 以下各要素 ---------- */

/* ---------- ヘッダー ---------- */
.header {
  background-color: #fff;
  /* position: fixed を使うとBlock要素が失われるため幅指定 */
  width: 100%; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.header-icon i {
  font-size: 40px;
  color: gray;
}

.header-button {
  /* margin-left: auto; */
  /* → flex指定している親要素に"justify-content: space-between;" */
  padding: 14px 12px;
}

.humbuger-menu {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  color: #ddd;
  transition: .3s;
}

.humbuger-menu:hover {
  color: var(--default-color);
}

/* ---------- main ---------- */
.main {
  padding-top: 70px;
}

/* ---------- theme ---------- */
.theme {
  background-color: var(--bg-gray);
}

.theme-inner {
  padding: 250px 0;
}

.theme-title {
  font-size: 90px;
  font-weight: 700;
  /* margin-bottom: 25px; */
  color: var(--theme-color);
}

.theme-flavor {
  margin-top: 25px;
  font-size: 30px;
  color: #c0c0c0;
}

/* ---------- What we can do ---------- */
.what_we_can_do {
  background-color: var(--theme-color);
  color: #fff;
}

.wwcd-inner {
  padding: 50px 0 25px 0;
  display: flex;
}

.what_we_can_do h3 {
  margin-bottom: 35px;
}

.wwcd-image {
  margin: 0 100px;
}

/* ---------- Our latest work ---------- */
.our_latest_work {
  background-color: var(--bg-gray);
}

.olw-inner {
  padding: 60px 0 70px 0;
}

.images-container {
  margin: 40px 0 90px 0;
  font-size: 0;
}

.content-image {
  display: inline-block;
  opacity: 0.7;
  transition: .3s;
  margin-left: 100px;
}

.content-image:hover {
  opacity: 1;
}

.content-image:nth-child(3n+1) {
  /* nは０から始まる */
  margin-left: 0;
}
/* 3つ目までの時は :nth-child(-n+3) */
.content-image:nth-child(n+4) {
  /* n+4 : 4つ目以降 */
  margin-top: 80px;
}

.olw-contents {
  font-size: 0;
  display: block;
}

.olw-text {
  width: 600px;
}

.olw-button {
  margin-left: 90px;
  vertical-align: top;
}

.olw-button-email {
  box-sizing: border-box;
  display: block;
  padding: 14px 20px;
}

/* ---------- Our skills ---------- */
.our_skills {
  background-color: var(--bg-darkgray);
  color: #fff;
}

.os-inner {
  padding: 70px 0 100px 0;
}

.os-contents {
  margin-top: 70px;
}

.menu-content {
  margin-left: 180px;
}

.menu-content:first-child {
  margin-left: 0;
}

.menu-content figure figcaption {
  font-size: 16px;
}

.menu-content img {
  margin-bottom: 16px;
}

/* ---------- SNS ---------- */
.sns {
  background-color: var(--bg-gray);
}

.sns-inner {
  margin: 0 auto;
  padding: 200px 0;
  font-size: 0;
}

.sns-icon {
  padding: 30px 0 30px 0;
  width: 185px;
  font-size: 40px;
  color: var(--theme-color);
  transition: .3s;
}

.sns-icon:hover {
  background-color: #fff;
}

/* ---------- footer ---------- */

.footer {
  color: #fff;
  background: var(--theme-color);
}

.footer-inner {
  padding: 20px 0 25px 0;
  text-align: right;
}

/* ---------- 以下レスポンシブ -------------------- */

/* ---------- スマホ・タブレット共用 ---------- */
@media screen and (max-width: 1199px) {
  .inner {
    width: 97%;
  }
}

@media screen and (min-width: 768px) {
  .humbuger-menu {
    display: none;
  }
}

/* ---------- スマホ用 ---------- */

@media screen and (max-width: 767px) {
  .header-button {
    display: none;
  }

  /* theme */
  .theme-inner {
    font-size: 80px;
    padding: 160px 0 130px 0;
  }

  .theme-title {
    margin-bottom: 20px;
  }

  /* what we can do */
  .wwcd-inner {
    display: block;
    text-align: center;
  }

  .wwcd-image {
    margin-bottom: 20px;
  }

  /* Our latest work */
  .content-image {
    display: block;
    text-align: center;
    margin: 0;
  }

  .content-image:nth-child(n+4) {
    margin-top: 0;
  }

  .content-image:nth-child(3n+1) {
    margin-top: 80px;
  }

  .content-image:first-child {
    margin-top: 0;
  }

  .olw-text {
    width: 100%;
    margin-bottom: 40px;
  }

  .olw-button {
    margin: 0;
    text-align: center;
  }

  /* Our skills */
  .menu-content {
    display: block;
    margin: 0 auto;
    margin-top: 88px;
  }

  .menu-content:first-child {
    margin-top: 0;
  }

  /* SNS */
  .sns .inner {
    width: 100%;
  }

  .sns-inner {
    padding: 50px 0;
  }

  .sns-icon {
    display: block;
    width: 100%;
  }

}

/* ---------- タブレット用 ---------- */

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* What we can do */
  .wwcd-inner {
    display: block;
    text-align: center;
  }

  .wwcd-image {
    margin-bottom: 20px;
  }

  .wwcd-inner div p {
    margin: 0 auto;
    width: 80%;
  }

  /* Our latest work */
  .content-image {
    display: block;
    margin: 0;
    text-align: center;
  }
  
  .content-image:nth-child(n+4) {
    margin: 0;
  }

  .content-image:nth-child(3n+1) {
    margin-top: 80px;
  }

  .content-image:first-child {
    margin-top: 0;
  }

  .olw-text, .olw-button {
    margin: 0 auto;
  }

  .olw-text {
    display: block;
    width: 100%;
    margin-bottom: 40px;
  }

  /* Our skills */
  .menu-content {
    display: block;
    margin:88px 0 0 0;
  }

  .menu-content:first-child {
    margin-top: 0;
  }
}

/* ---------- PC用 ---------- */

@media screen and (min-width: 1200px) {
  .wwcd-inner {
    padding-bottom: 0;
  }

}

/* ---------- 終わり ---------- */